In [2]:
# Install the Pandas Pacakges

# !pip install pandas numpy

Data Sources:
https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1410008201

In [3]:
# Import the libraries
import pandas as pd

In [4]:
# Read the CSV Files for the Analysis
# df = pd.read_csv('./14100082.csv')
# df = pd.read_csv('https://drive.google.com/uc?export=download&id=17Wfx-gXMdiIuC2qb_AEVkx3ohNE-5dRx')

df = pd.read_csv('./Canada-Labour-force-dataset.csv')

In [5]:
df.tail(2)

,REF_DATE,GEO,DGUID,Immigrant status,Labour force characteristics,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
161278,2024-10,Canada,2016A000011124,Born in Canada,Employment rate,Females,25 to 54 years,Percentage,242,units,0,v53040054,1.6.10.3.3,83.7,NaN,NaN,NaN,1
161279,2024-10,Canada,2016A000011124,Born in Canada,Employment rate,Females,55 years and over,Percentage,242,units,0,v53040055,1.6.10.3.4,28.9,NaN,NaN,NaN,1

In [6]:
df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status',
       'Labour force characteristics', 'Sex', 'Age group', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [7]:
df.drop(columns=['DGUID','UOM_ID','SCALAR_FACTOR','SCALAR_ID','VECTOR','COORDINATE','STATUS','SYMBOL','TERMINATED','DECIMALS'],axis=1,inplace=True)

In [8]:
# Rename the columns
df.rename(columns={'REF_DATE':'year','GEO':'province','Immigrant status':'immigrant_status','Labour force characteristics':'labour_force_character','Sex':'gender','Age group':'age_group','UOM':'metrics','VALUE':'total'},inplace=True)

In [9]:
df.columns

Index(['year', 'province', 'immigrant_status', 'labour_force_character',
       'gender', 'age_group', 'metrics', 'total'],
      dtype='object')

In [10]:
df['year']=df['year'].str.split(pat='-').str[0]

In [11]:
df.shape

(161280, 8)

In [12]:
df['age_group'].value_counts()

age_group
15 years and over    40320
15 to 24 years       40320
25 to 54 years       40320
55 years and over    40320
Name: count, dtype: int64

In [13]:
#  Split the Year column
# Extracting only year from the date column
# df['year']=df['year'].str.split(pat='-').str[0]

In [14]:
# Convert the year to integer
df['year'] = pd.to_numeric(df['year'])
df['total'] = round(df['total'],0)

In [15]:
df.dtypes

year                        int64
province                   object
immigrant_status           object
labour_force_character     object
gender                     object
age_group                  object
metrics                    object
total                     float64
dtype: object

In [31]:
df_clean_data= df[
    (df['year'] >=2018)&
    (df['metrics'] == 'Persons')&
    (df['immigrant_status'] =='Immigrants, landed 5 or less years earlier')&
    (df['gender'] != 'Both sexes')&
    (df['age_group'] != '15 years and over')
    ]

In [32]:
df_clean_data['labour_force_character'].unique()

array(['Population', 'Labour force', 'Employment', 'Full-time employment',
       'Part-time employment', 'Unemployment', 'Not in labour force'],
      dtype=object)

In [33]:
# df_clean_data['labour_force_character'].value_counts()
df_clean_data.groupby('labour_force_character')['total'].sum()

labour_force_character
Employment              61799.0
Full-time employment    51956.0
Labour force            68595.0
Not in labour force     22901.0
Part-time employment     9804.0
Population              91485.0
Unemployment             6769.0
Name: total, dtype: float64

In [34]:
df_clean_data

,year,province,immigrant_status,labour_force_character,gender,age_group,metrics,total
102485,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Males,15 to 24 years,Persons,75.0
102486,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Males,25 to 54 years,Persons,354.0
102487,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Males,55 years and over,Persons,45.0
102489,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Females,15 to 24 years,Persons,80.0
102490,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Females,25 to 54 years,Persons,397.0
...,...,...,...,...,...,...,...,...
160878,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Males,25 to 54 years,Persons,36.0
160879,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Males,55 years and over,Persons,28.0
160881,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Females,15 to 24 years,Persons,47.0
160882,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Females,25 to 54 years,Persons,125.0
160883,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Females,55 years and over,Persons,55.0

In [35]:
df_clean_data['age_group'].value_counts()

age_group
15 to 24 years       1148
25 to 54 years       1148
55 years and over    1148
Name: count, dtype: int64

In [37]:
df_clean_data.to_csv('clean_immigrant_data.csv')