In [ ]:
# Install the Pandas Pacakges

# !pip install pandas numpy

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Data Sources:
https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1410008201

In [279]:
# Import the libraries
import pandas as pd

In [280]:
# Read the CSV Files for the Analysis
# df = pd.read_csv('./14100082.csv')
# df = pd.read_csv('https://drive.google.com/uc?export=download&id=17Wfx-gXMdiIuC2qb_AEVkx3ohNE-5dRx')

df = pd.read_csv('./Canada-Labour-force-dataset.csv')

In [281]:
df.tail(2)

,REF_DATE,GEO,DGUID,Immigrant status,Labour force characteristics,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
161278,2024-10,Canada,2016A000011124,Born in Canada,Employment rate,Females,25 to 54 years,Percentage,242,units,0,v53040054,1.6.10.3.3,83.7,NaN,NaN,NaN,1
161279,2024-10,Canada,2016A000011124,Born in Canada,Employment rate,Females,55 years and over,Percentage,242,units,0,v53040055,1.6.10.3.4,28.9,NaN,NaN,NaN,1

In [282]:
df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status',
       'Labour force characteristics', 'Sex', 'Age group', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [283]:
df.drop(columns=['DGUID','UOM_ID','SCALAR_FACTOR','SCALAR_ID','VECTOR','COORDINATE','STATUS','SYMBOL','TERMINATED','DECIMALS'],axis=1,inplace=True)

In [284]:
# Rename the columns
df.rename(columns={'REF_DATE':'year','GEO':'province','Immigrant status':'immigrant_status','Labour force characteristics':'labour_force_character','Sex':'gender','Age group':'age_group','UOM':'metrics','VALUE':'total'},inplace=True)

In [289]:
df.columns

Index(['year', 'province', 'immigrant_status', 'labour_force_character',
       'gender', 'age_group', 'metrics', 'total'],
      dtype='object')

In [290]:
df['year']=df['year'].str.split(pat='-').str[0]

In [314]:
df.shape

(161280, 8)

In [328]:
df['age_group'].value_counts()

age_group
15 years and over    40320
15 to 24 years       40320
25 to 54 years       40320
55 years and over    40320
Name: count, dtype: int64

In [292]:
#  Split the Year column
# Extracting only year from the date column
# df['year']=df['year'].str.split(pat='-').str[0]

In [335]:
# Convert the year to integer
df['year'] = pd.to_numeric(df['year'])
df['total'] = round(df['total'],0)

In [336]:
df.dtypes

year                        int64
province                   object
immigrant_status           object
labour_force_character     object
gender                     object
age_group                  object
metrics                    object
total                     float64
dtype: object

In [337]:
df_clean_data= df[
    (df['year'] >=2018)&
    (df['metrics'] == 'Persons')&
    (df['immigrant_status'] =='Immigrants, landed 5 or less years earlier')&
    (df['gender'] != 'Both sexes')
    ]

In [338]:
df_clean_data['labour_force_character'].unique()

array(['Population', 'Labour force', 'Employment', 'Full-time employment',
       'Part-time employment', 'Unemployment', 'Not in labour force'],
      dtype=object)

In [333]:
# df_clean_data['labour_force_character'].value_counts()
df_clean_data.groupby('labour_force_character')['total'].sum()

labour_force_character
Employment              123568.0
Full-time employment    103920.1
Labour force            137180.4
Not in labour force      45797.5
Part-time employment     19615.1
Population              182976.1
Unemployment             13570.9
Name: total, dtype: float64

In [339]:
df_clean_data

,year,province,immigrant_status,labour_force_character,gender,age_group,metrics,total
102484,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Males,15 years and over,Persons,474.0
102485,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Males,15 to 24 years,Persons,75.0
102486,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Males,25 to 54 years,Persons,354.0
102487,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Males,55 years and over,Persons,45.0
102488,2018,Canada,"Immigrants, landed 5 or less years earlier",Population,Females,15 years and over,Persons,532.0
...,...,...,...,...,...,...,...,...
160879,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Males,55 years and over,Persons,28.0
160880,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Females,15 years and over,Persons,227.0
160881,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Females,15 to 24 years,Persons,47.0
160882,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Females,25 to 54 years,Persons,125.0
160883,2024,Canada,"Immigrants, landed 5 or less years earlier",Not in labour force,Females,55 years and over,Persons,55.0

In [340]:
df_clean_data.to_csv('clean_immigrant_data.csv')